<section style="padding: 2rem; font-family: system-ui">
  <app-card-search-bar [(value)]="name" />
  <app-card-filter-dropdown (apply)="onFilterApply($event)" />
  <p>{{name()}}</p>
  <h2>Cards</h2>
  <button (click)="cardsResource.reload()">Reload</button>
  <div class="card-grid">
    @if (cardsResource.error()) {
    <p style="color: #c00">gRPC error: {{ cardsResource.error() }}</p>
    } @else if (cardsResource.isLoading()) {
    <p>Loading…</p>
    } @else { @if(cardsResource.hasValue()){ @for (c of cardsResource.value() ?? []; track c.name +
    c.set + c.number) {
    <app-card-item [card]="c" />
    } } }
  </div>
</section>
